<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>xpbcopy and xpbpaste web clipboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/ico" href="{{ static_url('favicon.ico') }}">
    <style>
      body {padding-top: 60px;}
    </style>

  </head>

  <body>

    <div class="container">
      {% block page %}{% end %}
    </div> <!-- /container -->

  </body>
</html>
